.controller.xbox {
    background: url(https://i.imgur.com/nI5AkrM.png);
    height: 630px;
    width: 750px;
}

.xbox .quadrant {
    position: absolute;
    background: url(https://i.imgur.com/F5w1r89.png);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .back, .xbox .start {
    background: url(https://i.imgur.com/vq5ODG8.png);
    width: 33px;
    height: 33px;
    opacity: 0;
}

.xbox .button {
    position: absolute;
    background: url(https://i.imgur.com/MZPC6Sc.png);
    width: 48px;
    height: 48px;
}

.xbox .stick {
    position: absolute;
    background: url(https://i.imgur.com/qM9vSNd.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}
